/*Sector universal*/

{
    padding: 0 auto;
    margin: 0 auto;
}


#contenedor{
    width: 1200;
    height: 1000px;
    background-color:rgb(202, 219, 156);
    max-width: 0 auto;
}


#encabezado{
    height: 15%;
    background-color:rgb(88, 143, 105);
    margin: 1em auto;
}

#menu{
    height: 5%;
    margin: 1em;
    background-color: rgb(207, 228, 197);
}

#seccion{
    height: 76%;
    width: 61%;
    background-color: rgb(229, 240, 202);
    margin: 0.5em;
    float: left;
}

#fueraseccion{
    height: 70%;
    width: 36%;
    background-color: rgb(164, 202, 118);
    margin: 0.5em;
    float: right;
}

#pie{
    height: 5%;
    background-color: rgb(151, 190, 77);
    border-radius: 1em;
    margin: 1.5 em;
}


/*selector de clase*/
.texto{
    text-align: justify;
    font-family: tahoma;
    font-size: medium;
    margin-left: 15px;
    margin-right: 15px;
}
.encabezado_articulo{
    text-align: center;
    background: #333;
    color: white;
    margin-top: 1em;
}
.imagenes{
    display: block;
    border: 1px solid #ddd;
    margin-left: 4%;
    width: 180px;
}

/*selector de etiqueta*/

ul{
    text-align: center;
    }
li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
}